.sidebar{
    position: fixed;
    top: 0;
    left: -10%;
    transition: all 0.5s ease-out;
    width: 10%;
    height: 100vh;
    background: $secondary;
    &-logo{
        background: $primary;
        img{
            width: 120px;
            display: block;
            margin: 0 auto;
            padding: 30px 0;
        }
    }
    &.active{
        left: 0;

    }
    &-wrapper-menu{
        background: $secondary;
    }
    &-menu{
        list-style: none;
        &-item{
            position: relative;
            margin-top: 5px;
            padding: 15px 0;
            color: $white;
            cursor: pointer;
            &::before{
                content: '';
                position: absolute;
                width: 0px;
                height: 100%;
                background: $orange;
                top: 0;
                left: 0;
            }
            &:hover{
                background: darken($secondary, 10%);
                &.sidebar-menu-item::before{
                    width: 4px;
                    transition: $transition-sm;
                }
            }
        }
        &-link{
            font-family: $font;
            font-weight: 500;
            text-decoration: none;
            color: $white;
            text-transform: uppercase;
            margin-left: 10%;
        }
    }
}