extends ../layouts/layout-main.pug
block vars 
    -var TiitleMain= "Dashboard | ATW";
block main
    body.bg-primary

        //- * Navbar
        include ../template/navbar.pug

        //- * SideBar
        include ../template/sidebar.pug


        