extends ../layouts/layout-main.pug
block vars 
    -var TiitleMain= "Dashboard | ATW";
block main
    body.bg-primary

        //- * Navbar
        include ../template/navbar.pug

        //- * SideBar

        main

            include ../template/sidebar.pug

            .container-fluid.mt-5#main
                .row 
                    .col-xl-6.col-lg-12.col-md-12.col-xs-12
                        .bg-secondary.p-2
                            p.text-white HEALTH STATE OF THE FABRICS
                        .row 
                            .col-lg-10.offset-lg-1.col-md-12.col-xs-12
                                <canvas id="doughnut" class="mt-5" style="width:100%;max-width:700px"></canvas>
                    .col-xl-6.col-lg-12.col-md-12.col-xs-12.p-0
                        .row 
                            .col-xl-12.col-lg-12.col-md-12.col-xs-12
                                .bg-secondary.p-2
                                    p.text-white ACTIVE ALARMS
                                .content-table
                                    <table>
                                        //- <tr>
                                        //-     <th>Company</th>
                                        //-     <th>Contact</th>
                                        //-     <th>Country</th>
                                        //- </tr>
                                        <tr>
                                            <td>ALARM NAME</td>
                                            <td>DD/MM/AAA</td>
                                            <td>00:00</td>
                                        </tr>
                                        <tr>
                                            <td>ALARM NAME</td>
                                            <td>DD/MM/AAA</td>
                                            <td>00:00</td>
                                        </tr>
                                        <tr>
                                            <td>ALARM NAME</td>
                                            <td>DD/MM/AAA</td>
                                            <td>00:00</td>
                                        </tr>
                                        <tr>
                                            <td>ALARM NAME</td>
                                            <td>DD/MM/AAA</td>
                                            <td>00:00</td>
                                        </tr>
                                        <tr>
                                            <td>ALARM NAME</td>
                                            <td>DD/MM/AAA</td>
                                            <td>00:00</td>
                                        </tr>
                                    </table>
                                    .paginator
                                        h4.paginator-title ALL ALARM
                                        ul.paginator-list 
                                            li.paginator-items 
                                                span.material-symbols-outlined chevron_left
                                            li.paginator-items 1
                                            li.paginator-items 10
                                            li.paginator-items 
                                                span.material-symbols-outlined chevron_right
                            .col-lg-12.col-md-12.col-xs-12
                                .bg-secondary.p-2
                                    p.text-white MOST POWERFUL INTERFACES
                                <canvas id="scatter" class="mt-3" style="width:100%;max-width:700px"></canvas>

        //- a(id="btnBurguer" class="button-menu")
        .menuburguer(id="btnBurguer")
            span.material-symbols-outlined menu

        //*  Toast Alerts
        //- .toast
        //-     .toast-header
        //-         p Nombre de Alerta
        //-         a.header-toast-close(href="#") Ahora 
        //-             i.material-symbols-outlined close
        //-     .toast-body
        //-         p Atención, los brindis se apilarán automáticamente


        