.navbar 
    .navbar-right
        .navbar-control
            ul.navbar-control-menu 
                li.navbar-control-item 
                    a(href="#" class="navbar-control-link")  
                        i.material-symbols-outlined refresh

                    a(href="#" class="navbar-control-link")  
                        i.material-symbols-outlined settings

                    a(href="#" class="navbar-control-link")  
                        i.material-symbols-outlined notifications
        .navbar-avatar 
            img(src="img/avatar.jpg", alt="")