.sidebar 

    .sidebar-logo
        a(href="") 
            img(src="img/logo-atw-white.png", alt="")
    
    .sidebar-wrapper-menu
        ul.sidebar-menu
            li.sidebar-menu-item 
                a(href="#" class="sidebar-menu-link") Reports
            li.sidebar-menu-item 
                a(href="#" class="sidebar-menu-link") Bugs
            li.sidebar-menu-item 
                a(href="#" class="sidebar-menu-link") Maintenance
            li.sidebar-menu-item 
                a(href="#" class="sidebar-menu-link") Supply
            li.sidebar-menu-item 
                a(href="#" class="sidebar-menu-link") Setting
